@font-face {
  font-family: Inter;
  src: local("Inter"),
    url(./Inter-Variable.woff2) format("woff2 supports variations"),
    url(./Inter-Variable.woff2) format("woff2-variations");
  font-display: swap;
  font-weight: 400 785;
}

@font-face {
  font-family: 'Press Start 2P';
  src: local("PressStart2P-Regular"),
    url(./PressStart2P-Regular.woff) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter-Variable', sans-serif;
  }
}