@keyframes heartscale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .heart_sparks {
  animation: heartsparks 0.3s ease-in 0.3s 1 alternate;
  ;
}

@keyframes heartsparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pointer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-4px);
  }
}

/*  Начало блока анимации стрелки в главном меню */


/*  Конец блока анимации стрелки в главном меню */

/* Начало блока анимации сердца */
.like-icon {
  .heart_core {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
  }

  .heart_body {
    fill: transparent;
    transition: fill 0.3s linear;
  }

  .heart_contour {
    fill: var(--heart-blackgreen);
    transition: fill 0.1s linear;
  }

  .heart_sparks {
    opacity: 0;
  }

  .heart {
    transform-origin: center;
  }
}

.like-icon:hover {
  .heart_core {
    fill: var(--heart-blackgreen);
    transition: fill 0.3s linear;
  }

  .heart_body {
    fill: var(--heart-blackgreen);
    transition: fill 0.3s linear 0.05s;
  }
}

.like-icon:active {
  .heart_core {
    fill: red;
    transition: fill 0.3s linear;
  }

  .heart_body {
    fill: red;
    transition: fill 0.3s linear 0.05s;
  }

  .heart {
    transform-origin: center;
  }
}

.like-icon.is-liked .heart_core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart_body {
  fill: red;
  transition: fill 0.3s linear linear 0.05s;
}

.like-icon.is-liked .heart_contour {
  fill: red;
  transition: fill 0.3s linear 0.05s
}

.like-icon.is-liked .heart {
  animation: heartscale 0.3s ease-in 0.1s 1 alternate;
}

/* Конец блока анимации сердца */