@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #000;
    --accent-color-two: #fff;
    --background-color: #fff;
    --border-color: #000;
    --border-label-color: #fff;
    --border-transparent: transparent;
    --border-size: 2px;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --button-bg-one: #fff;
    --button-bg-two: #000;
    --font-family-Inter: Inter, sans-serif;
    --font-family-PS2P: 'Press Start 2P', sans-serif;
    --heart-blackgreen: #000;
    --background-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  }
}

:root.theme-light {
  --accent-color: #000;
  --accent-color-two: #fff;
  --background-color: #fff;
  --border-color: #000;
  --border-label-color: #fff;
  --border-transparent: transparent;
  --border-size: 2px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --button-bg-one: #fff;
  --button-bg-two: #000;
  --font-family-Inter: Inter, sans-serif;
  --font-family-PS2P: 'Press Start 2P', sans-serif;
  --heart-blackgreen: #000;
  --background-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00CC14;
    --accent-color-two: #00CC14;
    --background-color: #000;
    --border-color: #00CC14;
    --font-weight-bold: 785;
    --font-weight-normal: 465;
    --heart-blackgreen: #00CC14;
    --button-bg-one: #000;
    --button-bg-two: #00CC14;
    --background-image: repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c, #004306);

  }
}

:root.theme-dark {
  --accent-color: #00CC14;
  --accent-color-two: #00CC14;
  --background-color: #000;
  --border-color: #00CC14;
  --font-weight-bold: 785;
  --font-weight-normal: 465;
  --heart-blackgreen: #00CC14;
  --button-bg-one: #000;
  --button-bg-two: #00CC14;
  --background-image: repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px),
    linear-gradient(#007f0c, #004306);
}